<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>地球😄</string>
	<key>image</key>
	<string></string>
	<key>nextLevel</key>
	<array>
		<dict>
			<key>title</key>
			<string>美国</string>
			<key>image</key>
			<string></string>
			<key>nextLevel</key>
			<array>
				<dict>
					<key>title</key>
					<string>华盛顿</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>中国</string>
			<key>image</key>
			<string></string>
			<key>nextLevel</key>
			<array>
				<dict>
					<key>title</key>
					<string>北京</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>河北</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>重庆</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>我家</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
				<dict>
					<key>title</key>
					<string>😄😄</string>
					<key>image</key>
					<string></string>
					<key>nextLevel</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>俄罗斯</string>
			<key>image</key>
			<string></string>
			<key>nextLevel</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>朝鲜</string>
			<key>image</key>
			<string></string>
			<key>nextLevel</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>德国</string>
			<key>image</key>
			<string></string>
			<key>nextLevel</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
